<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{$path}css/index.css" rel="stylesheet">
    <link href="{$path}css/chat.css" rel="stylesheet">
    <script src="{$path}js/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="{$path}js/index.js"></script>
    <script src="{$path}js/chat.js"></script>
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName">
                {if $username eq ''}
                <a href="index.php?m=home&c=user&a=signin">登录</a>|<a href="index.php?m=home&c=user&a=signup">注册</a>
                {else}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=admin&c=goods&a=add"><input type="button" value="发布商品" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=cart&a=index"><input type="button" value="我的购物车" class="h-r-input"/></a>
                <a href="index.php">校卖部</a>
            </div>
                    </p>
                {/if}
                </p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner">
            <ul class="nav-inner-ul" id="nav-inner-ul">
                <a href="index.php"><li>首页</li></a>
                {foreach from=$catetree item=cate}
                    {if $cate.level eq 1}
                        <a href="index.php?m=home&c=index&a=gory&z={$cate.url}"><li>{$cate.cname}</li></a>
                    {/if}
                {/foreach}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-inner">
            <div class="c-goods">
                <div class="c-goods-img">
                    
                    <img src="{$goodsinfo.thumb_img[0]}">
                    
                </div>
                <div class="c-part1-right">
                    {foreach from=$others item=other}
                        <a href="index.php?m=home&c=index&a=goods&sn={$other.goods_sn}"><img src="{$other.thumb_img[0]}" alt="{$other.goods_name}"></a>
                    {/foreach}
                    
                </div>

                <div class="c-part1-main">
                    
                    <form>
                        <input type="hidden" id="goodsn" value="{$goodsinfo.goods_sn}">
                        <p class="c-goods-username">&nbsp;{$goodsinfo.name}&nbsp;<span class="c-goods-username-span">发布</span></p>
                        <p class="c-goods-price">￥{$goodsinfo.shop_price}<span class="c-goods-price-span">元</span></p>
                        <p class="c-goods-goodsName">{$goodsinfo.goods_name}</p>
                        <div class="c-goods-describe">
                            {$goodsinfo.goods_desc}
                        </div>
                        <p class="c-goods-contact">
                            联系：&nbsp;
                            <span>{$goodsinfo.tel}</span>&nbsp;
                        </p>
                        <input type="button" value="{$isfocus}" class="c-goods-focus fl" onclick="careOrder()">
                        <a href="index.php?m=home&c=cart&a=add&sn={$goodsinfo.goods_sn}" class="c-goods-focus fl">加入购物车</a>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div class="comment-box">
        <div class="comment-inner">
            <p class="comment-head">
                商品评论
                {if $username neq ''}
                <span class="cmt">写评论</span>
                </p>
                <div class="comment-write">
                    <textarea class="cmt-write"></textarea>
                    <input type="button" value="评 论" gid="{$goodsinfo.gid}" class="cmt-btn" id="cmt-btn" required="required">
                </div>
                {else}
                </p>
                {/if}
            
            <div class="comment-content">
                
                {foreach from=$comments item=comment}
                <p class="comment-list">
                    <span class="cmt-list-content">{$comment.content}</span>
                    <span class="cmt-list-time cmt-list-other">{$comment.time}</span><span class="cmt-list-neme cmt-list-other">{$comment.uname}</span>
                </p>
                {/foreach}


            </div>
        </div>
    </div>
</div>
<div class="chat-box">
    <div class="chat-switch fl">和店主聊聊</div>
    <div class="chat-inner fl">
        <div class="chat-head">您正在与<span class="chat-inner-name">石头软软</span>对话中</div>
        <div class="chat-content fl">
            <div class="chat font" id="chat">
                <!--<p class="chat-p"><span><span class="mColor-green">商家：</span>你好</span></p>
                <p class="chat-p">
                    <span><span class="mColor-green">您 ：</span>你是哪里人啊？</span>
                </p>-->
            </div>
            <div class="chat-input">
                <div class="chat-input-inner">
                    <input type="button" id="btnLogout" value="退 出" class="chat-input-inner-input fl">
                    <input type="button" id="btnSend" value="发 送"  class="chat-input-inner-input fr">
                    <div class="chat-input-inner-text fr">
                        <textarea  class="chat-msgInput" id="tbxMsg"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.cmt').on('click',function(){
            var write = $('.comment-write');
            if( write.is(':visible')){
                write.slideUp(900);
                $('.cmt').text('写评论');
            }else{
                write.slideDown(900);
                $('.cmt').text('收起');
            }
        });
        $("#cmt-btn").on('click',  function(event) {
            event.preventDefault();
            var con = $('.cmt-write').val();
            var gid = $(this).attr('gid');
            if(con == '' || gid == '') return false;
            $.post('index.php?m=home&c=index&a=addcommet', {gid: gid,con:con}, function(msg) {
                if(!msg.status){
                    alert(msg.info);
                }else{
                    var data = msg.data;
                    var res = '<p class="comment-list"> <span class="cmt-list-content">'+data.con+'</span> <span class="cmt-list-time cmt-list-other">'+data.time+'</span><span class="cmt-list-neme cmt-list-other">'+data.name+'</span> </p>'; 
                    $(res).prependTo('.comment-content');
                    $('.cmt').trigger('click');
                }
            },'json');
        });
    });

</script>
</body>
</html>