<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{$path}css/index.css" rel="stylesheet">
    <script src="{$path}js/jquery-1.11.3.min.js"></script>
    <script src="{$path}js/index.js"></script>
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName">
                {if $username eq ''}
                <a href="index.php?m=home&c=user&a=signin">登录</a>|<a href="index.php?m=home&c=user&a=signup">注册</a>
                {else}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=admin&c=goods&a=add"><input type="button" value="发布商品" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=index&a=care"><input type="button" value="我的关注" class="h-r-input"/></a>
                    </p>
                {/if}
                </p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner">
            <ul class="nav-inner-ul" id="nav-inner-ul">
                <a href="index.php"><li>首页</li></a>
                {foreach from=$catetree item=cate}
                    {if $cate.level eq 1}
                        <a href="index.php?m=home&c=index&a=gory&z={$cate.url}"><li>{$cate.cname}</li></a>
                    {/if}
                {/foreach}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-inner">
            <div class="c-goods">
                <div class="c-goods-img">
                    
                    <img src="{$goodsinfo.thumb_img[0]}">
                    
                </div>
                <div class="c-part1-right">
                    {foreach from=$others item=other}
                        <a href="index.php?m=home&c=index&a=goods&sn={$other.goods_sn}"><img src="{$other.thumb_img[0]}" alt="{$other.goods_name}"></a>
                    {/foreach}
                    
                </div>

                <div class="c-part1-main">
                    
                    <form>
                        <input type="hidden" id="goodsn" value="{$goodsinfo.goods_sn}">
                        <p class="c-goods-username">&nbsp;{$goodsinfo.name}&nbsp;<span class="c-goods-username-span">发布</span></p>
                        <p class="c-goods-price">￥{$goodsinfo.shop_price}<span class="c-goods-price-span">元</span></p>
                        <p class="c-goods-goodsName">{$goodsinfo.goods_name}</p>
                        <div class="c-goods-describe">
                            {$goodsinfo.goods_desc}
                        </div>
                        <p class="c-goods-contact">
                            联系：&nbsp;
                            <span>{$goodsinfo.tel}</span>&nbsp;
                        </p>
                        <input type="button" value="{$isfocus}" class="c-goods-focus fl" onclick="careOrder()">
                    </form>
                    
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>