<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" CONTENT="TEXT/HTML">
    <meta name="viewport" content="width=device-width">
    <title>商品修改</title>
    <link href="{$path}css/order.css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                <a href="index.php">校卖部</a>
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName">
                {if $username eq ''}
                <a href="index.php?m=home&c=user&a=signin">登录</a>|<a href="index.php?m=home&c=user&a=signup">注册</a>
                {else}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                {/if}
                </p>
                <p><a href="index.php?m=admin&c=goods&a=add"><input type="button" value="发布商品" class="h-r-input" /></a>
                    <a href="index.php?m=home&c=index&a=care"><input type="button" value="我的关注" class="h-r-input"/></a>
                </p>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content">
        <div class="c-left">
            <ul class="c-l-ul">
                <a href="index.php"><li>首&nbsp;页</li></a>
                <a href="index.php?m=admin&c=goods&a=lists"><li>在线商品</li></a>
                <a href="index.php?m=admin&c=goods&a=add"><li>发布商品</li></a>
                <a href="index.php?m=admin&c=cate&a=lists"><li>分类列表</li></a>
                <a href="index.php?m=admin&c=goods&a=recycle"><li>回收站</li></a>
                <a href="index.php?m=home&c=index&a=care"><li>我的关注</li></a>
            </ul>
        </div>
        <div class="c-right">
            <h1>修改商品信息</h1>

            <form id="orderForm" action="" method="post" enctype="multipart/form-data" onsubmit="validata();">
                    <input type="hidden" name="gid" value="{$info.gid}">
                <p class="c-r-from-p">
                    商品名称：<input type="text" name="goods_name" id="goods_name" required="required" value="{$info.goods_name}">&nbsp;
                    商品数量：<input type="text" name="goods_number" id="goods_number" class="textRight" value="{$info.goods_number}" required="required">&nbsp;
                    商品单价：<input type="text" name="shop_price" id="shop_price" class="textRight" value="{$info.shop_price}" required="required"><br/>
                </p>
                <p class="c-r-from-p">
                    促销单价：<input type="text" name="activi_price" id="activi_price" class="textRight" value="{$info.activi_price}" required="required">&nbsp;
                    商品分类：
                    <select class="c-r-select" id="goodsCode" name="catid" required="required">
                        {foreach from=$catetree item=cate}
                        <option value="{$cate.cid}">{$cate.pre}{$cate.cname}</option>
                        {/foreach}
                    </select>&nbsp;
                </p>
                <p class="c-r-from-p">
                    上传图片：<input id="fulAvatar" name="fileimg" type="file" class="form-control" accept="image/*" />
                        
                    <br/>
                </p>
                <p class="c-r-from-p">商品描述：</p>
                <textarea class="c-r-txt" name="describe"  required="required">{$info.goods_desc}</textarea>
                <div class="c-r-img">
                {foreach from=$info.thumb_img item=img}
                    <img src="{$img}">
                {/foreach}
                

                </div>
                <span id="warning"></span>
                <input type="submit" value="发布商品" class="btn">
                </p>
            </form>
        </div>
    </div>
    <div class="hidLayer">
        <div class="layer">
            <div class="layer-inner">
                <form action="afs" method="post" onsubmit="return false;">
                    <p>分类名称：<input type="text" class="layerInput" name="className" ></p>
                    <p class="layer-inner-Pselect">
                        上级分类：
                        <select class="layerSelect" id="layerSelect" name="selectName">
                            <option value="0">顶级分类</option>
                            {foreach from=$catetree item=cate}
                            <option value="{$cate.cid}">{$cate.pre}{$cate.cname}</option>
                            {/foreach}
                        </select>
                    </p>
                    <p class="layerTextp">
                        <span class="layerTextspan">分类描述：</span><br/>
                        <textarea class="layerTextarea" name="" ></textarea>
                    </p>
                    <p class="layerBtn">
                        <input type="button" id="exit" class="fr layerBtn-input" value="退出">
                        <input type="reset" class="fr layerBtn-input reset" value="重置">
                        <input type="submit" id="dosubmit" class="fr layerBtn-input submit" value="确定">
                        <span class="errMsg fr"></span>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{$path}js/order.js"></script>
<script type="text/javascript">
    $("#goodsCode").val('{$info.cat_id}');
</script>
</body>
</html>