<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>校卖部</title>
    <link href="{$path}css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName">
                {if $username eq ''}
                <a href="index.php?m=home&c=user&a=signin">登录</a>|<a href="index.php?m=home&c=user&a=signup">注册</a>
                {elseif $exshop eq 0}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=home&c=shop&a=add"><input type="button" value="开店" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=index&a=care"><input type="button" value="我的关注" class="h-r-input"/></a>
                    </p>
                {else}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=admin&c=goods&a=add"><input type="button" value="发布商品" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=index&a=care"><input type="button" value="我的关注" class="h-r-input"/></a>
                    </p>
                {/if}
                </p>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content">
        <div class="content-part1">
            <div class="c-part1-inner">
                <div class="c-part1-left">
                    <ul class="c-part1-list"  id="c-part1-list">
                    {foreach from=$catetree item=cate}
                        {if $cate.level eq 1}
                            <a href="index.php?m=home&c=index&a=gory&z={$cate.url}"><li>{$cate.cname}</li></a>
                        {/if}
                    {/foreach}
                    </ul>
                </div>
                <div class="c-part1-right">
                    {foreach from=$images item=img}
                        <a href="index.php?m=home&c=index&a=goods&sn={$img.goods_sn}"><img src="{$img.thumb_img[0]}" alt="{$img.goods_name}" /></a>
                    {/foreach}
                </div>
                <div class="c-part1-main-index">
                    <div id="slider">
                        <ul class="list">
                        {php} $i=1; {/php}
                        {foreach from=$goodsimg item=tem}
                            {php} if($i) {{/php}
                            <li class="current"><img src="{$tem.thumb_img[0]}" alt="{$tem.goods_name}" /></li>
                            {php} }else{ {/php}
                            <li><img src="{$tem.thumb_img[0]}" alt="{$tem.goods_name}" /></li>
                            {php}} $i=0; {/php}
                        {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-part2">
            <div class="c-part2-inner">
                <p class="part-title">新单速递<span>.&nbsp;.&nbsp;.</span></p>
                <div class="c-part2-new">
                    <ul class="c-part2-new-ul" id="c-part2-new-ul">
                        {foreach from=$goods item=good}
                         <li>
                            <a href="index.php?m=home&c=index&a=goods&sn={$good.goods_sn}"><img src="{$good.thumb_img[0]}" class="c-part2-new-ul-img"></a>
                            <div class="c-part2-new-ul-img-price fr">￥{$good.shop_price}</div>
                            <div class="c-part2-detail">
                                <p class="c-part2-detail-goodsName">{$good.goods_name}</p>
                                <p class="c-part2-detail-describe">
                                    {$good.goods_desc}
                                </p>
                            </div>
                         </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="footer"></div>
</div>
<script src="{$path}js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
//slider事件
    var slider = document.getElementById('slider');
    var sliderLi = slider.getElementsByTagName('li');
    var timer = pl= null;
    var index = 1;
    function autoPlay(){
        pl= setInterval(function(){
            index >= sliderLi.length && (index = 0);
            show(index);
            index++;
        },4000);
    }
    autoPlay();
    

function show(index){
    var alpha = 0;
    for(var i=0;i<sliderLi.length;i++){
        sliderLi[i].style.opacity = 0;
        sliderLi[i].filter ="alpha(opacity=0)";
    }

    timer = setInterval(function(){
        alpha += 2;
        alpha > 100 && (alpha = 0);
        sliderLi[index].style.opacity = alpha/100;
        sliderLi[index].style.filter = "alpha(opacity="+ alpha+")";
        alpha == 100 && (clearInterval(timer));
    },20);
}
var cList = document.getElementById('c-part1-list').getElementsByTagName('li');
for(var i=0;i<cList.length;i++){
    cList[i].onclick = function(){
        var x = this.innerHTML;
        window.location = '/book_search' + x;
    }
}
</script>
<script>
  
$(window).scroll(function(){
　　var scrollTop = $(this).scrollTop();
　　var scrollHeight = $(document).height();
　　var windowHeight = $(this).height();
　　if(scrollTop + windowHeight == scrollHeight){
　　　var len = $("#c-part2-new-ul li").length;
      $.post('index.php?m=home&c=index&a=getgoods', {len:len}, function(res) {
            if(!res.status){
               alert(res.info);
            }else{
                var data = res.data.res;
                for (var i = data.length - 1; i >= 0; i--) {
                    var str = '<li><a href="index.php?m=home&c=index&a=goods&sn='+data[i].goods_sn+'"> <img src="'+data[i].thumb_img[0]+'" class="c-part2-new-ul-img"></a> <div class="c-part2-new-ul-img-price fr">￥'+data[i].shop_price+'</div> <div class="c-part2-detail"> <p class="c-part2-detail-goodsName">'+data[i].goods_name+'</p> <p class="c-part2-detail-describe"> '+data[i].goods_desc+' </p> </div> </li>';
                    $(str).appendTo('#c-part2-new-ul');
                }
            }
      },'json');
　　}
});
</script>
</body>

</html>