<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" CONTENT="TEXT/HTML">
    <title>结算页——校卖部</title>
    <link href="{$path}css/order.css" rel="stylesheet">
    <link href="{$path}css/shopping.css" rel="stylesheet">
    <script type="text/javascript" src="{$path}js/linkage.js"></script>
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName">
                {if $username eq ''}
                <a href="index.php?m=home&c=user&a=signin">登录</a>|<a href="index.php?m=home&c=user&a=signup">注册</a>
                {elseif $exshop eq 0}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=home&c=shop&a=add"><input type="button" value="开店" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=index&a=care"><input type="button" value="我的关注" class="h-r-input"/></a>
                    </p>
                {else}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=admin&c=goods&a=add"><input type="button" value="发布商品" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=index&a=care"><input type="button" value="我的关注" class="h-r-input"/></a>
                    </p>
                {/if}
                </p>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content">
        <div class="spC-right spC-r-correct">
            <p class="spC-title">提示：请认真核对商品信息</p>
            <div class="user">
                <p class="fontSize12">
                    > 收货人信息
                    <span class="add-address fr">新增收货地址</span>
                </p>
                <div class="user-inner fontSize12" id="gaininfo">
                    <!--用户首次购物，需添加收货人信息-->
                    {if $gains == 0}
                    <form action="" method="post" onsubmit="return false;">
                        收 货 人：<input type="text" name="gname" id="gname"><br/><br>
                        所在地区：<select name="" id="provice" onchange="provices(this)">
                                    <option value="">请选择省</option>
                                </select>
                                <select name="" id="city" onchange="citys(this)">
                                    <option value="">请选择市</option>
                                </select>
                                <select name="" id="country">
                                    <option value="">请选择县</option>
                                </select><br/>
                        详细地址：<input type="text" class="user-address" name="" id="user-address"><br/>
                        手机号码：<input type="number" name="" id="user-phone"><br/>
                        <input type="submit" value="保存收货人信息" id="firstsubmit" class="submit">
                    </form>
                    {else}
                    <!--用户已经添加过收货信息-->
                    <div id="gain">
                        {foreach from=$gains item=gain}
                        收货人为{$gain.gname}
                        <p class="userList">
                            <span class="userName ">{$gain.gname}</span>
                            <span class="userDress ">{$gain.prov}{$gain.city}{$gain.city} {$gain.address}</span>
                            <span class="userTel">Tel:{$gain.phone}</span>
                        </p><br>
                        {/foreach}
                    </div>
                    {/if}
                </div>
            </div>
            <div class="wey">
                <p class="spC-title">支付方式</p>
                <div class="wey-inner">
                    <span class="weys fontSize12">货到付款</span>
                    <span class="weys fontSize12">银行卡支付</span>
                    <span class="weys fontSize12">支 付 宝</span>
                </div>
            </div>
            <div class="spC-list">
                <div class="spC-list-th">
                    <span class="spC-list-th-span" style="width: 440px;">商品</span>
                    <span class="spC-list-th-span" style="width: 150px;">单价（元）</span>
                    <span class="spC-list-th-span" style="width: 180px;">数量</span>
                    <span class="spC-list-th-span" style="width: 150px;">小计（元）</span>
                </div>
                <ul class="spC-list-ul">
                    {foreach from=$items item=info}
                    <li><span class="goodsn" sn="{$info.goods_sn}"></span>
                        <div class="spC-list-goods fl">
                            <a href="index.php?m=home&c=index&a=goods&sn={$info.goods_sn}"><img src="{$info.thumb_img.0}" class="spC-list-goodsImg fl"></a>
                            <div class="spC-list-goodsName fr">
                                {$info.goods_name}
                            </div>
                        </div>
                        <div class="spC-list-price fl" style="width:165px;">
                            <p class="spC-list-subtotal-p">{$info.shop_price}</p>
                        </div>
                        <div class="spC-list-number fl" style="width: 180px;">
                            <div class="spC-number-box">
                                <p class="spC-number-span spcNumber" style="margin-left: 15px; width: 34px;">{$info.goods_number}</p>
                            </div>
                        </div>
                        <div class="spC-list-subtotal fl" style="width: 150px;">
                            <p class="spC-list-subtotal-p fontWeight600 money">{$info.sintotal}</p>
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="spC-finally">
                <div class="spC-finally-right fr">
                    <div class="allPrice fl">应付
                        <span class="Price">￥
                            <strong><span class="PriceNum">{$total}</span>元</strong>
                        </span>
                    </div>
                    <a href="#"><div class="toPay fr cursor">下 单</div></a>
                </div>
            </div>
        </div>
    </div>

    {if $gains != 0}
    <div class="layer-box">
        <div class="layer">
            <span class="layer-close fr"></span>
            <h3 class="layer-h3">添加新的收货人信息</h3>
            <div class="user-inner fontSize12 " style="margin-top: 15px;">
                <form action="" method="post" onsubmit="return false;">
                        收 货 人：<input type="text" name="gname" id="gname"><br/><br>
                        所在地区：<select name="" id="provice" onchange="provices(this)">
                                    <option value="">请选择省</option>
                                </select>
                                <select name="" id="city" onchange="citys(this)">
                                    <option value="">请选择市</option>
                                </select>
                                <select name="" id="country">
                                    <option value="">请选择县</option>
                                </select><br/>
                        详细地址：<input type="text" class="user-address" name="" id="user-address"><br/>
                        手机号码：<input type="number" name="" id="user-phone"><br/>
                        <input type="submit" value="保存收货人信息" id="firstsubmit" style="position: absolute;left: 360px;" class="submit">
                    </form>
            </div>
        </div>
    </div>
    {/if}
</div>
<script src="{$path}js/jquery-1.11.3.min.js"></script>
<script src="{$path}js/payFor.js"></script>
</body>
</html>
