<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" CONTENT="TEXT/HTML">
    <title>订单查询页</title>
    <link rel="stylesheet" href="{$path}css/order.css">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                <a href="index.php">校卖部</a>
            </div>
            <div class="h-right">
                 <p id="personName" class="h-r-userName">
                {if $username eq ''}
                <a href="index.php?m=home&c=user&a=signin">登录</a>|<a href="index.php?m=home&c=user&a=signup">注册</a>
                {else}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                {/if}
                </p>
                <p><a href="index.php?m=admin&c=goods&a=add"><input type="button" value="发布商品" class="h-r-input" /></a>
                    <a href="index.php?m=home&c=cart&a=index"><input type="button" value="我的购物车" class="h-r-input"/></a>
                <a href="index.php">校卖部</a>
            </div>
                </p>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content">
        <div class="c-left">
            <ul class="c-l-ul">
                <a href="index.php"><li>首&nbsp;页</li></a>
                <a href="index.php?m=admin&c=goods&a=lists"><li>在线商品</li></a>
                <a href="index.php?m=admin&c=goods&a=add"><li>发布商品</li></a>
                <a href="index.php?m=admin&c=cate&a=lists"><li>分类列表</li></a>
                <a href="index.php?m=admin&c=goods&a=recycle"><li>回收站</li></a>
                <a href="index.php?m=home&c=index&a=care"><li>我的关注</li></a>
            </ul>
        </div>
        <div class="c-right">
            <h1 class="c-r-h1">商品回收站</h1>
            <table id="c-r-tb">
                <tr class="c-r-table">
                <tr class="c-r-table">
                    <th class="c-r-td-addLength">商品名称</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>促销价格</th>
                    <th>浏览</th>
                    <th class="c-r-td-addLength">出售商家</th>
                    <th class="c-r-td-addLength">发布时间</th>
                    <th>还原</th>
                    <th>删除</th>
                </tr>
                </tr>
                {foreach from=$lists item=list}
                <tr>
                    <td class="c-r-td-addLength" title="{$list.goods_name}">{$list.gname}</td>
                    <td>{$list.goods_number}</td>
                    <td>{$list.shop_price}元</td>
                    <td>{$list.activi_price}元</td>
                    <td>{$list.click_count}</td>
                    <td class="c-r-td-addLength">{$list.name}</td>
                    <td class="c-r-td-addLength">{$list.addtime}</td>
                    <td class="edit"><a href="index.php?m=admin&c=goods&a=reset&gid={$list.gid}">还原</a></td>
                    <td class="edit"><a href="index.php?m=admin&c=goods&a=del&gid={$list.gid}">删除</a></td>
                </tr>
                {/foreach}
            </table>
            <p>{$pagenav}</p>
        </div>
    </div>
</div>
<script src="{$path}js/jquery-1.11.3.min.js"></script>
<script>
    $(function(){
        
         //隔行变色
        var tabbg=document.getElementById('c-r-tb');
        for(var i=1;i<tabbg.rows.length;i++){
            if(tabbg.rows[i].rowIndex%2==0) {
                tabbg.rows[i].style.backgroundColor = "#e8edf1"
            }else{
                tabbg.rows[i].style.backgroundColor = ""
            }
        }
    });
</script>
</body>
</html>