<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>校卖部</title>
    <link href="../css/index.css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName"><%= personName %></p>
                <p><input type="button" value="发布商品" class="h-r-input" onclick="getOrder()"/>
                    <input type="button" value="我的关注" class="h-r-input"/>
                </p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner">
            <ul class="nav-inner-ul">
                <li onclick="rt_index()">首页</li>
                <li>图书</li>
                <li>服装</li>
                <li>鞋靴</li>
                <li>礼物</li>
                <li>生活</li>
                <li>饰品</li>
                <li>美食</li>
                <li>其他</li>
            </ul>
        </div>
    </div>
    <div class="filter-box">
        <div class="filter">
            <div class="filter-path">
                <a href="" class="filter-path-a" style="margin-left: 40px;">全部</a>
                <span> > </span>
                <a href="" class="filter-path-a">美食</a>
            </div>
            <div class="filter-content">
                <div class="filter-c-class">
                    <div class="filter-c-class-title fl">
                        分类 :
                    </div>
                    <div class="filter-c-class-list fr" id="filter-c-class-list" style="border-bottom: 1px solid lightgray">
                        <a href="" class="filter-c-class-a"><span>全部</span></a>
                        <a href="" class="filter-c-class-a"><span>小吃/快餐</span></a>
                        <a href="" class="filter-c-class-a"><span>自助餐</span></a>
                        <a href="" class="filter-c-class-a"><span>火锅</span></a>
                        <a href="" class="filter-c-class-a"><span>甜品</span></a>
                        <a href="" class="filter-c-class-a"><span>咖啡厅/酒吧/夜店 </span></a>
                        <a href="" class="filter-c-class-a"><span>烤鱼</span></a>
                        <a href="" class="filter-c-class-a"><span>川菜</span></a>
                        <a href="" class="filter-c-class-a"><span>湘菜</span></a>
                        <a href="" class="filter-c-class-a"><span>粤菜</span></a>
                        <a href="" class="filter-c-class-a"><span>韩国料理</span></a>
                        <a href="" class="filter-c-class-a"><span>日本料理</span></a>
                        <a href="" class="filter-c-class-a"><span>西餐</span></a>
                        <a href="" class="filter-c-class-a"><span>意大利餐</span></a>
                        <a href="" class="filter-c-class-a"><span>素食</span></a>
                        <a href="" class="filter-c-class-a"><span>小吃/快餐</span></a>
                        <a href="" class="filter-c-class-a"><span>自助餐</span></a>
                        <a href="" class="filter-c-class-a"><span>火锅</span></a>
                        <a href="" class="filter-c-class-a"><span>甜品</span></a>
                        <a href="" class="filter-c-class-a"><span>咖啡厅/酒吧/夜店 </span></a>
                        <a href="" class="filter-c-class-a"><span>烤鱼</span></a>
                        <a href="" class="filter-c-class-a"><span>川菜</span></a>
                        <a href="" class="filter-c-class-a"><span>湘菜</span></a>
                        <a href="" class="filter-c-class-a"><span>粤菜</span></a>
                        <a href="" class="filter-c-class-a"><span>韩国料理</span></a>
                        <a href="" class="filter-c-class-a"><span>日本料理</span></a>
                        <a href="" class="filter-c-class-a"><span>西餐</span></a>
                        <a href="" class="filter-c-class-a"><span>意大利餐</span></a>
                        <a href="" class="filter-c-class-a"><span>素食</span></a>
                        <span class="filter-c-class-a showMore">更多...</span>
                    </div>
                </div>
                <div class="filter-c-price">
                    <div class="filter-c-class-title fl">
                        价格 ：
                    </div>
                    <div class="filter-c-class-list fr">
                        <a href="" class="filter-c-class-a"><span>全部</span></a>
                        <a href="" class="filter-c-class-a"><span>0 - 50</span></a>
                        <a href="" class="filter-c-class-a"><span>50 - 100</span></a>
                        <a href="" class="filter-c-class-a"><span>100 - 500</span></a>
                        <a href="" class="filter-c-class-a"><span>500 - 1000</span></a>
                        <a href="" class="filter-c-class-a"><span>1000元以上</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-inner">
            <div class="content-part2">
                <div class="c-part2-inner">
                    <div class="c-part2-new">
                        <ul class="c-part2-new-ul">
                            <% rows.forEach(function(row){%>
                            <li onclick="order_show('<%= row.id%>')">
                                <img src="/avatar/<%= row.imagePath%>" class="c-part2-new-ul-img">
                                <div class="c-part2-new-ul-img-price fr">￥<%= row.price%></div>
                                <div class="c-part2-detail">
                                    <p class="c-part2-detail-goodsName"><%= row.goodsName%></p>
                                    <p class="c-part2-detail-describe">
                                        <%= row.describe%>
                                    </p>
                                    <p class="c-part2-detail-more">
                                        <span><%= row.goodsCode%></span>&nbsp;
                                    </p>
                                </div>
                            </li>
                            <%})%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/index.js"></script>
<script src="../js/jquery-1.11.3.min.js"></script>
<script>
    $(function(){
        var element = $('#filter-c-class-list>a:gt(8)');
        element.hide();
        $('.showMore').click(function(){
            if(element.is(":visible")){
                element.hide(100);
                $('.showMore').text('更多...');
                $('.filter-c-class').height('70px');
            }else{
                element.show(100);
                $('.showMore').text('收 起');
                $('.filter-c-class').height('120px');
            }
        });

    });
</script>
</body>
</html>