<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>校卖部</title>
    <link href="{$path}css/index.css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>
            <div class="h-right">
                <p id="personName" class="h-r-userName">
                {if $username eq ''}
                <a href="index.php?m=home&c=user&a=signin">登录</a>|<a href="index.php?m=home&c=user&a=signup">注册</a>
                {elseif $exshop eq 0}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=home&c=shop&a=add"><input type="button" value="开店" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=cart&a=index"><input type="button" value="我的购物车" class="h-r-input"/></a>
                <a href="index.php">校卖部</a>
            </div>
                    </p>
                {else}
                    欢迎 {$username}<a href="index.php?m=home&c=user&a=logout"><span class="exit fr">退出登录</span></a>
                    <p>
                        <a href="index.php?m=admin&c=goods&a=add"><input type="button" value="发布商品" class="h-r-input" /></a>
                        <a href="index.php?m=home&c=cart&a=index"><input type="button" value="我的购物车" class="h-r-input"/></a>
                <a href="index.php">校卖部</a>
            </div>
                    </p>
                {/if}
                </p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner">
            <ul class="nav-inner-ul">
                <a href="index.php"><li>首页</li></a>
                {foreach from=$catetree item=cate}
                    {if $cate.level eq 1}
                        <a href="index.php?m=home&c=index&a=gory&z={$cate.url}"><li>{$cate.cname}</li></a>
                    {/if}
                {/foreach}
            </ul>
        </div>
    </div>
    <div class="filter-box">
        <div class="filter">
            <div class="filter-path">
                <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}0" class="filter-path-a" style="margin-left: 40px;">全部</a>
                {foreach from=$crumbs item=mb}
                <span> > </span>
                <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$mb.cid}" class="filter-path-a">{$mb.cname}</a>
                {/foreach}
            </div>
            <div class="filter-content">
                <div class="filter-c-class">
                    <div class="filter-c-class-title fl">
                        分类 :
                    </div>
                    <div class="filter-c-class-list fr" id="filter-c-class-list" style="border-bottom: 1px solid lightgray">
                        {foreach from=$childs item=child}
                        <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$child.cid}" class="filter-c-class-a"><span>{$child.cname}</span></a>
                        {/foreach}
                        <!-- <span class="filter-c-class-a showMore">更多...</span> -->
                    </div>
                </div>
                <div class="filter-c-price">
                    <div class="filter-c-class-title fl">
                        价格 ：
                    </div>
                    <div class="filter-c-class-list fr">
                        <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$cid}" class="filter-c-class-a"><span>全部</span></a>
                        <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$cid}&price=0,50" class="filter-c-class-a"><span>0 - 50</span></a>
                        <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$cid}&price=50,100" class="filter-c-class-a"><span>50 - 100</span></a>
                        <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$cid}&price=100,500" class="filter-c-class-a"><span>100 - 500</span></a>
                        <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$cid}&price=500,1000" class="filter-c-class-a"><span>500 - 1000</span></a>
                        <a href="index.php?m=home&c=index&a=gory&z={php}echo md5(rand()).'bxve'{/php}{$cid}&price=1000,*" class="filter-c-class-a"><span>1000元以上</span></a>
                        <input type="hidden" id="cidcid" value="{$cid}">
                        <input type="hidden" id="priceRange" value="{$priceRange}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-inner">
            <div class="content-part2">
                <div class="c-part2-inner">
                    <div class="c-part2-new">
                        <ul class="c-part2-new-ul" id="c-part2-new-ul">
                            {foreach from=$goods item=good}
                             <li>
                                <a href="index.php?m=home&c=index&a=goods&sn={$good.goods_sn}"><img src="{$good.thumb_img[0]}" class="c-part2-new-ul-img"></a>
                                <div class="c-part2-new-ul-img-price fr">￥{$good.shop_price}</div>
                                <div class="c-part2-detail">
                                    <p class="c-part2-detail-goodsName">{$good.goods_name}</p>
                                    <p class="c-part2-detail-describe">
                                        {$good.goods_desc}
                                    </p>
                                </div>
                             </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{$path}js/jquery-1.11.3.min.js"></script>

<script>
    $(function(){
        var element = $('#filter-c-class-list>a:gt(8)');
        element.hide();
        $('.showMore').click(function(){
            if(element.is(":visible")){
                element.hide(100);
                $('.showMore').text('更多...');
                $('.filter-c-class').height('70px');
            }else{
                element.show(100);
                $('.showMore').text('收 起');
                $('.filter-c-class').height('120px');
            }
        });
    });
$(window).scroll(function(){
　　var scrollTop = $(this).scrollTop();
　　var scrollHeight = $(document).height();
　　var windowHeight = $(this).height();
    var cid = $("#cidcid").val();
    var pr = $("#priceRange").val();
　　if(scrollTop + windowHeight == scrollHeight){
　　　var len = $("#c-part2-new-ul li").length;
      $.post('index.php?m=home&c=index&a=getgoods', {len:len,cid:cid,p:pr}, function(res) {
            if(!res.status){
               alert(res.info);
            }else{
                var data = res.data.res;
                for (var i = data.length - 1; i >= 0; i--) {
                    var str = '<li><a href="index.php?m=home&c=index&a=goods&sn='+data[i].goods_sn+'"> <img src="'+data[i].thumb_img[0]+'" class="c-part2-new-ul-img"></a> <div class="c-part2-new-ul-img-price fr">￥'+data[i].shop_price+'</div> <div class="c-part2-detail"> <p class="c-part2-detail-goodsName">'+data[i].goods_name+'</p> <p class="c-part2-detail-describe"> '+data[i].goods_desc+' </p> </div> </li>';
                    $(str).appendTo('#c-part2-new-ul');
                }
            }
      },'json');
　　}
});
</script>
</body>
</html>