<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script>
        var warning = document.getElementById('warning');
        function ZC(){
            user=new Object();
            user.username = document.getElementById('username').value;
            user.password = document.getElementById('password').value;
            user.pswSure = document.getElementById('pswSure').value;
            if(user.username==""|| user.password==""|| user.pswSure==""){
                warning.innerHTML = "请填入完整信息";
                if(event && event.preventDefault){
                    event.preventDefault();
                }else{window.event.returnValue = false;}
            }else{
                if(user.password != user.pswSure){
                    warning.innerHTML = "密码确认与设置的密码不符！";
                    document.getElementById('password').value ="";
                    document.getElementById('pswSure').value = "";
                    if(event && event.preventDefault){
                        event.preventDefault();
                    }else{window.event.returnValue = false;}
                }
            }
        }
    </script>
</head>
<body onload="window_onload()">
<div class="ZC">
    <form id="zcForm" action="/zc" method="post">
        用户名：<input type="text" id="username" name="username"><br/>
        密码设置：<input type="password" id="password" name="password"><br/>
        重复密码：<input type="password" id="pswSure"><br/>
        <input type="submit" value="注册" onclick="ZC()">
    </form>
    <p id="warning"><%= errMsg%></p>
</div>
</body>
</html>