<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" CONTENT="TEXT/HTML">
    <meta name="viewport" content="width=device-width">
    <title>校卖铺</title>
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div id="box">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                <a href="index.php">校卖部</a>
            </div>
        </div>
    </div>
    <p class="lin"></p>
    <div class="content errContent">
        <p class="errContent-p">很抱歉，您要访问的页面不存在！</p>
        <p class="errContent-p">404 not found</p>
    </div>
</div>

</body>
</html>